.card {
  max-width: 345px;
  background-color: $card-color;
  padding: 1em;
  border-radius: 15px;

  &__img {
    img {
      width: 100%;
    }
  }

  &__title {
    color: $white-color;
  }

  &__desc {
    color: $alternate-color;
  }

  &__timeline {
    display: flex;
    justify-content: space-between;

    .eth {
      color: $text-color2;
    }

    .time {
      color: $alternate-color;
    }
  }

  &__avatar {
    color: $white-color;

    .creator {
      color: $alternate-color;
    }
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
